# Docker Image Versions
MARIADB_VERSION=10
PHP_VERSION=8.2

# Database Configuration
MYSQL_DATABASE=hazh_db
MYSQL_USER=hazh_user
MYSQL_PASSWORD=hazh@123+
MYSQL_ROOT_PASSWORD=roothazh@123+

# WordPress Configuration
WORDPRESS_TABLE_PREFIX=wp_
